
.bookcard-ordersummary{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    height: auto;
}

.bookcard{
    flex: 1;
    height: auto;
}

.order-summary {
    background-color: #f8f9fa;
    padding: 20px;
    line-height: 30px;
    position: sticky;
    top: 20px;
    height: 100vh;
    overflow-y: auto;
}

.order-summary h4 {
    font-weight: bold;
    margin-bottom: 20px;
}

.summary-item {
    margin: 10px 0;
}

.order-summary hr {
    margin: 20px 0;
}

.order-summary .proceed {
    width: 100%;
    margin-top: 10px;
}

.order-summary pre {
    margin: 20px 0 0;
}
